  <h2>
    There are <span class="count"><%= Contact.count%></span> contacts
  </h2>

    <% @contacts.each do |contact| %>
  <p>
    <%= contact.full_name %>
    (<%= contact.email %>)
    <span class="edit">Edit | Delete</span>
  </p>
  <% end %>
