  <h2>
    There are <span class="count"><%= Contact.count%></span> contacts
  </h2>

    <% @contacts.each do |contact| %>
  <p>
    <a href="/contacts/<%=contact.id%>"><%= contact.full_name %></a>
    (<%= contact.email %>)
    <span class="edit">Edit | Delete</span>
  </p>
  <% end %>
