  <h2>
    There are <span class="count"><%= Contact.count%></span> contacts
  </h2>

    <% @contacts.each do |contact| %>
  <p>
    <%= contact.full_name %>
    (<%= contact.email %>)
    <div class="edit">Edit | Delete</div>
  </p>
  <% end %>
