<h1>Contacts</h2>
<ul>
  <% @contacts.each do |contact| %>
    <li>
      <b> <%= contact.full_name %> </b></li>
    <li><i> <%= contact.email %> </i></li>
    <li> <%= contact.note %> </li>
  <% end %>
</ul>
