  <h2>
    There are <div class="count"><%= Contact.count%></div>contacts
  </h2>

    <% @contacts.each do |contact| %>
  <p>
    <%= contact.full_name %>
    (<%= contact.email %>)
    <span>Edit | Delete</span>
  </p>
  <% end %>
